.no-outline:focus {
    outline: none;
    box-shadow: none;
}

.checkbox input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
}
.no-outline{
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border:none;
    border-radius: 0;
}
.but {
    width: 100%;
    background-color: #fff;
    color:#000;
    border:none;
    padding:15rem !important;
}
   
.logincont {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
}