@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
margin:0;
padding:0;
color:#fff;
background-image: url('./assets/background.jpg'); /* Caminho relativo ao arquivo CSS */
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
margin: 0;
}
*{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bord{
border: 1px solid black;
}


